<p>unprotected works!</p>
<p>
<button (click)="regular()"  type="button" class="btn btn-primary">Access Un-Protected API</button>
Response: {{regularResponse}}
</p>
<p>
<button (click)="protected()"  type="button" class="btn btn-primary">Access Protected API</button>
Response: {{protectedResponse}}
</p>

<button (click)="foo()"  type="button" class="btn btn-primary">Access Foo</button>
Response: {{fooResponse}}
<p>
<button (click)="bar()"  type="button" class="btn btn-primary">Access Bar</button>
Response: {{barResponse}}
</p>
<p>
<button (click)="profile()"  type="button" class="btn btn-primary">Access Bar</button>
Response: {{profileResponse}}
</p>