<p>protected component works!</p>
<button (click)="protected()"  type="button" class="btn btn-primary">Access Protected API</button>
Response: {{protectedResponse}}


<p *ngIf="hasAuthority('SCOPE_foo')">
<button (click)="foo()"  type="button" class="btn btn-primary">Access Foo</button>
Response: {{fooResponse}}
</p>

<p *ngIf="hasAuthority('SCOPE_bar')">
    <button (click)="bar()"  type="button" class="btn btn-primary">Access Bar</button>
    Response: {{barResponse}}
    </p>
    <p *ngIf="isLoggedOn()">
    <button (click)="profile()"  type="button" class="btn btn-primary">Access Profile</button>
    Response: {{profileResponse}}
    </p>

